<section class="title-transparent page-title" style="background:url('<%= asset_path("banner.png")%>')">
  <div class="container">
    <div class="title-content">
      <h1>Add Listing</h1>
      <div class="breadcrumbs">
        <a href="/">Home</a>
        <span class="gt3_breadcrumb_divider"></span>
        <span class="current">Add Listing</span>
      </div>
    </div>
  </div>
</section>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', users_listings_path %>
