<h1>Editing Place Category</h1>

<%= render 'form', place_category: @place_category %>

<%= link_to 'Show', admins_place_category_path(@place_category) %> |
<%= link_to 'Back', admins_place_categories_path %>
