<!DOCTYPE html>
<html>
  <head>
    <title>ListingLocator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'listing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'listing', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="home-2">
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
